@model OrderViewModel

@{
    ViewBag.Title = "Successful Purchase!";
    Layout = "_Layout";
}

<div class="text-center">
    <h2>Successful Purchase!</h2>
    <hr />
    <div class="form-group">
        <a class="btn btn-primary" asp-controller="Game" asp-action="GetGames">Games</a>
        <a class="btn btn-primary" asp-controller="Order" asp-action="Invoice" asp-route-id="@Model.Id">View Invoice</a>
        <a class="btn btn-primary" asp-controller="Order" asp-action="Download" asp-route-id="@Model.Id" target="_blank">Download Invoice</a>
    </div>
</div>
